#hero {

  .hero-image {
    width: calc(100% + 2rem + (100vw - 100%));
    margin-left: -1rem;

    height: 300px;
    object-fit: cover;
    object-position: 70% 50%;
    display: block;
    padding: 0;

    @media screen and (min-width: 600px) {
      width: 100%;
      margin-left: 0;
      border-radius: var(--card-border-radius);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      height: auto;
    }
  }

  .hero-title {
    font-size: 2.5rem;
    font-weight: 700;

    @media screen and (min-width: 600px) {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  .hero-title-highlight {
    color: var(--color-primary);
  }

  .hero-sub-title {
    font-size: 1.1rem;
  }

  .hero-content {
    padding: 0.5rem 0;
    text-align: center;
    letter-spacing: -0.5%;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1rem;
      text-decoration: none;
      margin-bottom: 0;
    }
  }
}
