#social-media {

  a {
    text-decoration: none;
    color: inherit;
  }

  .socials-row {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .social-media-card {
    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--color-secondary-background);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);

    &:hover{
      box-shadow: none;
    }

    img {
      width: 3rem;
      margin: 0 auto;
      display: block;
    }

    h3 {
      text-decoration: underline;
      text-align: center;
      margin: 0 auto;
    }

    p {
      margin: 0.5rem;
      text-align: center;
    }
  }
}
