:root {
--color-body-background: var(--light-color-body-background);
--color-secondary-background: var(--light-color-secondary-background);

--color-text: var(--light-color-text);
--color-header-background: var(--light-color-header-background);
--color-footer-background: var(--light-color-footer-background);

@media (prefers-color-scheme: dark) {
--color-body-background: var(--dark-color-body-background);
--color-secondary-background: var(--dark-color-secondary-background);

--color-text: var(--dark-color-text);
--color-header-background: var(--dark-color-header-background);
--color-footer-background: var(--dark-color-footer-background);
}

--color-primary-btn-bg: var(--color-primary);
--color-primary-btn-bg-hover: var(--color-secondary);
--color-primary-btn-text: var(--color-white);

--color-secondary-btn-bg: var(--color-primary);
--color-secondary-btn-bg-hover: var(--color-secondary);
--color-secondary-btn-text: var(--color-primary);

/* COMMON */
--color-primary: #AF2B1E;
  --color-secondary: #E85D04;
  @media (prefers-color-scheme: dark) {
    --color-primary: #E85D04;
    --color-secondary: #AF2B1E;
  }
--color-white: #FFFFFF;
--color-black: #000000;

/* LIGHT THEME */
--light-color-body-background: var(--color-white);
--light-color-secondary-background: #FAFAFA;

--light-color-header-background: var(--light-color-secondary-background);
--light-color-footer-background: var(--light-color-secondary-background);
--light-color-text: var(--color-black);

/* DARK THEME */
  --dark-color-body-background: #343434;
  --dark-color-secondary-background: #252525;

--dark-color-header-background: var(--dark-color-secondary-background);
--dark-color-footer-background: var(--dark-color-secondary-background);
--dark-color-text: var(--color-white);
}
