

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

button, input, select, textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

:root {
  /* TYPOGRAPHY */
  font-family: "Arial", sans-serif, system-ui;

  /* SPACING */
  section {
    margin-bottom: 1rem;
  }

  /* CARD STYLING*/
  --card-border-radius: 0.5rem;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;

  /* COLOR THEME */
  color-scheme: light dark;
  background-color: var(--color-body-background);
  color: var(--color-text);
  line-height: 1.6;
}

header, main, footer {
  width: 100%;
}


h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;

  margin: 1.5rem 0 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

ul, ol {
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

ul li, ol li {
  margin-bottom: 0.25rem;
}

section.content {
  p {
    padding-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    padding-bottom: 0.5rem;
  }

  ul li::before {
    content: "- ";
  }
}

.frame {
  margin: 0 1rem;
  max-width: calc(100% - 2.5rem);

  @media screen and (min-width: 600px) {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(100% - 2rem);
  }

  @media screen and (min-width: 905px) {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
  }

  @media screen and (min-width: 1240px) {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    max-width: calc(100% - 2rem);
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    width: 1040px;
  }
}

%btn {
  min-width: 150px;
  text-align: center;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--card-border-radius);
  display: inline-block;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.primary-btn {
  @extend %btn;
  background: var(--color-primary-btn-bg);
  color: var(--color-primary-btn-text);

  &:hover,
  &:focus {
    background: var(--color-primary-btn-bg-hover);
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.secondary-btn {
  border-color: var(--color-secondary-btn-bg);
  border-width: 2px;
  border-style: solid;
  color: var(--color-secondary-btn-text);

  &:hover,
  &:focus {
    border-color: var(--color-secondary-btn-bg-hover);
    color: var(--color-secondary-btn-bg-hover);
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
  }
}

@import 'theme';
@import 'header';
@import 'hero';
@import 'social-media';
@import 'single';
@import 'footer';
