---
- name: Webserver-upload-files
  hosts: all
  tags: ["vserver", "deployment"]
  tasks:
    - name: Get current git branch
      ansible.builtin.set_fact:
        branch: "{{ lookup('pipe', 'git symbolic-ref -q --short HEAD || git rev-parse --short HEAD') }}"
    - name: Sync feature files
      when: branch != "main"
      ansible.posix.synchronize:
        src: ../../../public/
        dest: "/var/www/features/{{ branch }}"
        delete: true
        recursive: true
        rsync_path: "rsync"
        rsync_opts:
          - "--chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r"
    - name: Sync production files
      when: branch == "main"
      ansible.posix.synchronize:
        src: ../../../public/
        dest: /var/www/production/
        delete: true
        recursive: true
        rsync_path: "rsync"
        rsync_opts:
          - "--chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r"
