<section id="hero">
  {{- $image := resources.Get "images/hero.jpg" }}
  {{- $image := $image.Resize "7152x2480 q10" }}
  <img class="hero-image" src="{{ $image.RelPermalink }}" alt="">
  <div class="hero-content">
    <div class="hero-title">Wir suchen
      <span class="hero-title-highlight">Dich!</span>
    </div>
    <div class="hero-sub-title">Du lebst oder arbeitest in Kronshagen?</div>
    <div class="hero-sub-title">Komm vorbei und lerne uns kennen.</div>
    <br>
    <button class="primary-btn" onclick="window.location.href='{{ `pages/contact/` | relURL }}'">Mitmachen</button>
  </div>
</section>
