<section id="social-media">

  <h2>Social Media</h2>

  <p>Einsätze, Veranstaltungen, Bilder und Einblicke direkt aus dem Feuerwehralltag findest du unter:</p>

  <section class="socials-row ">
    <a aria-label="Facebook"
       class="card-link"
       href="https://www.facebook.com/feuerwehr.kronshagen"
       rel="noopener noreferrer"
       target="_blank"
    >
      <article class="social-media-card">
        {{- $facebook := resources.Get "images/Facebook_Logo_Primary.png" }}
        <img class="headerLogo" src="{{ $facebook.RelPermalink }}" alt="Facebook">
      </article>
    </a>

    <a aria-label="Instagram"
       class="card-link"
       href="https://www.instagram.com/feuerwehr.kronshagen"
       rel="noopener noreferrer"
       target="_blank"
    >
      <article class="social-media-card">
        {{- $instagram := resources.Get "images/Instagram_Glyph_Gradient.png" }}
        <img class="headerLogo" src="{{ $instagram.RelPermalink }}" alt="Facebook">
      </article>
    </a>
  </section>
</section>
