name: admin

on:
  schedule:
    - cron: "0 2 * * *"

defaults:
  run:
    shell: bash

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: make 99-install-ansible-dependencies
      - name: Ansible lint
        run: make 04-ansible-lint

  vserver-admin:
    needs:
      - ansible-lint
    environment:
      name: admin
      url: https://feuerwehr-kronshagen.de
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: make 99-install-ansible-dependencies
      - name: Prepare SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.VSERVER_SSHKEY }}" > ~/.ssh/id_ed25519
          sudo chmod 600  ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.VSERVER_HOST }} >> ~/.ssh/known_hosts
      - name: Create Ansible vars file
        run: |
          echo "${{ secrets.VSERVER_SUDO_PASSWORD }}" > ~/.ssh/password.txt
      - name: Ansible deployment
        run: >
          ansible-playbook
          -i "${{ secrets.VSERVER_HOST }},"
          --skip-tags "localhost, deployment"
          --become-password-file ~/.ssh/password.txt
          --user "${{ secrets.VSERVER_SSHUSER }}"
          --private-key ~/.ssh/id_ed25519
          --extra-vars "prod_user=${{ secrets.VSERVER_PROD_DEPLOY_USER }}"
          --extra-vars "test_user=${{ secrets.VSERVER_TEST_DEPLOY_USER }}"
          ansible/playbooks/*.yml
      - name: Cleanup sensitive files
        if: always()
        run: |
          rm -f ~/.ssh/id_ed25519*
          rm -f ~/.ssh/password.txt
